@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
}


li, a, button{

  font-family: "Merriweather", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ECF0F1;
  text-decoration: none;
  
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}


  .logo{
    width: 400px;
    cursor: pointer;
    padding: 60px;
    padding: auto;
  }

  
  .navlinks{
    list-style: none;
  }

  .navlinks li {
  
    display: inline-block;
    padding: 0px 20px;
  }

  .navlinks li a {

    transition: all 0.3s ease 0s;

  }

  .navlinks li a:hover {

    color: #0088A9;

  }

  button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  button.hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  .sizer{

    padding: auto;
    max-height: 200px;


  }



  nav{
    flex: 1;
    padding-right: 40px;
  }

  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 15px;
  }

  nav ul li a{
    text-decoration: none;
    color: #ECF0F1;
  }

  .content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #ECF0F1;
  }

  .content p{
    font-size: 20px;
   color: #ECF0F1;
  }

  .content{
    margin-left: 10%;
    margin-top: -10%;
    color: ;
  }

  .content .btn{
    display: inline-block;
    background: linear-gradient(45deg,#ECF0F1, grey);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ECF0F1;
    box-shadow: 3px 8 px 88 px rgba(94,28,68,0.15);
  }


  .arrow-icons{
    margin-top: 40px;
    display: flex;
  }

  .arrow-icons img{
    width: 40px;
    margin-right: 25px;
  }

  .feature-image{
    height: 40%;
    position: absolute;
    bottom: 0;
    right: 100px;
  }

  .social-links{
    transform: rotate(-90deg);
    position: absolute;
    left: -90px;
    bottom: 180px;
  }

  .social-links a{
    font-family: "Merriweather", sans-serif;
    text-decoration: none;
    color: #ECF0F1;
    padding-right: 20px;
    font-size: 14px;
  }


  h1{
    color: #ECF0F1;
    text-align: center;
  }

  h2{
    color: #ECF0F1;
  }

  h5{
    color: #ECF0F1;
  }

  p{
    color: #ECF0F1;
  }
  

  ul{

    color: #ECF0F1;
  }

  .banner{
    padding: center;
    text-align: center;
  }

  .bannerImage{
    padding: center;
    text-align: center;
  }

  .serviceHeader{
    font-size:xx-large
    font-family: "Merriweather", sans-serif;
    color: #ECF0F1;
  }



  .textWrapper{
    width: 100%;
    position: relative;
    
  }

  .textWrapper h1{
    text-align: center;
    color: #ECF0F1;
    font-size: 10vw;
    
  }


  .callbackBMW {

    align-self: right;
    padding: auto;
  }

  .form {
    align-self: left;
    padding: auto;
  }








  footer{
    bottom: 0;
    left: 0;
    right: 0;;
    height: auto;
    width: 100vw;
    font-family: "Merriweather", sans-serif;
    padding-top: 40px;
    color: #fff;
  }

  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .footer-content h2{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
  }


  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }

  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }

  .socials li{
    margin: 0 10px;
  }

  .socials a{
    text-decoration: none;
    color: #fff;
  }

  .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
  }

  .socials a:hover i{
    color: aqua;
  }

  .copyright{
    text-align: center;
  }


  .google_maps{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    align-content: right;
}
