/*THIS IS THE CODE FOR IMPORTING GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mulish&display=swap");

/*THIS IS THE CODE FOR THE GENERIC PAGE LAYOUT*/

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  background-color: #24252a;
  align-items: center;
  font-family: "Merriweather", serif;
  font-family: "Mulish", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.changeText {
  color: #0088a9;
}

/*THIS IS THE END OF THE CODE FOR THE GENERIC LAYOUT*/

/*THIS IS THE CODE FOR THE NAVBAR LAYOUT*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252a;
  color: white;
}

.logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
  margin: 0.5rem;
}

.navbarLinks ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbarLinks li {
  list-style: none;
}

.navbarLinks li a {
  text-decoration: none;
  color: white;
  padding: 2rem;
  display: block;
  font-size: 25px;
}

.navbarLinks a:hover {
  color: #0088a9;
}

.toggle {
  position: absolute;
  top: 6.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 41px;
  height: 31px;
}

.toggle .barsForMobile {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle {
    display: flex;
  }

  .navbarLinks {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbarLinks ul {
    width: 100%;
    flex-direction: column;
  }

  .navbarLinks li {
    text-align: center;
  }

  .navbarLinks a {
    padding: 0.5rem 1rem;
  }

  .navbarLinks.active {
    display: flex;
  }
}

/*THIS IS THE END OF THE CODE FOR THE NAVBAR LAYOUT*/

/*THIS IS THE CODE FOR THE SLIDESHOW*/

.slideShow {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.slideShowPictures {
  position: absolute;
  width: inherit;
  height: inherit;
  animation: cycleImages 21s infinite;
  opacity: 0;
}

.slideShowPictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoomIn 21s infinite;
}

.slideShowPictures:nth-last-child(1),
.slideShowPictures:nth-last-child(1) img {
  animation-delay: 0s;
}

.slideShowPictures:nth-last-child(2),
.slideShowPictures:nth-last-child(2) img {
  animation-delay: 10s;
}

.slideShowText {
  max-width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  padding: 10rem 5rem;
}

.slideShowText h5 {
  font-size: 5rem;
  text-transform: capitalize;
  letter-spacing: 3px;
  margin-bottom: 2.5rem;
}

.slideShowText p {
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 300;
}

@keyframes cycleImages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  100% {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 1000px) {
  .slideShowText {
    max-width: 70%;
    padding: 5rem 1rem;
  }

  .slideShowText h5 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .slideShowText {
    max-width: 100%;
    padding: 2rem;
    top: initial;
    transform: initial;
    bottom: 0;
  }

  .slideShowText h5 {
    font-size: 3rem;
  }

  .slideShowText p {
    font-size: 1.4rem;
  }
}

/*THIS IS THE END OF THE SLIDESHOW CODE*/

/*THIS IS THE CODE FOR THE FLIP CARDS LAYOUT*/

.ChangeColor {
  color: #0088a9;
}

.services {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: top;
}
.s-heading {
  text-align: center;
}
.s-heading h1 {
  color: white;
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0px;
}
.s-heading p {
  color: white;
  font-size: 3rem;
  margin: 5px;
  text-align: center;
}
.s-box-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 500px;
  padding: 8px 25px;
  height: 500px;
  box-sizing: border-box;
  margin: 30px;
  position: relative;
}
.s-box img {
  height: 300px;
  width: 100%;
  padding: 15px;
}
.s-box h1 {
  color: white;
  letter-spacing: 1px;
  font-size: 3rem;
  margin-bottom: 8px;
}
.s-box p {
  color: white;
  text-align: center;
  font-size: 1.8rem;
}
.s-btn {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #0088a9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0088a9;
  margin-top: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
.bar {
  width: 100px;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  background-color: #4a90e2;
  border-radius: 0px 0px 10px 10px;
  display: none;
  animation: bar 0.8s;
}
.s-box:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
  transition: all ease 0.5s;
}
.s-btn:hover {
  background-color: #4a90e2;
  border: 1px solid #4a90e2;
  color: #ffffff;
  transition: all ease 0.3s;
}
.s-box:hover .bar {
  display: block;
}
@keyframes bar {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}
@media (max-width: 1050px) {
  .s-box-container {
    flex-wrap: wrap;
  }
  .services {
    height: auto;
  }
  .s-heading {
    margin: 15px;
  }
  .s-box {
    flex-grow: 3;
  }
}

/*THIS IS THE END OF THE CODE FOR THE FLIP CARD LAYOUT*/

/*THIS IS THE ABOUT SECTION*/

.aboutUs {
  font-size: 50px;
  padding-top: 5px;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-size: 3rem;
  margin-bottom: 8px;
}

.aboutUsCars,
img {
  width: 100%;
}

/*THIS IS THE END OF THE ABOUT SECTION*/

/*THIS IS THE CODE FOR THE FORM LAYOUT*/

.aboutUsWhite {
  color: white;
}

/* STYLE ALL THE INPUTS AND BUTTONS */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 15px;
  border: 1.5px solid white;
  border-radius: 30px;
  box-sizing: border-box;
  resize: vertical;
  color: white;
  margin-bottom: 40px;
}

/* STYLE THE LABEL */
label {
  padding: 12px 12px 22px 0;
  display: inline-block;
  color: white;
  font-size: 25px;
  float: left;
}

/* STYLE THE SUBMIT BUTTON */
input[type="submit"] {
  background-color: rgba(0, 136, 169, 1);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 100%;
}

/* STYLE THE CONTAINER */
.container {
  border-radius: 5px;
  background-color: #24252a;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.col-25 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

.col-75 {
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.row {
  margin: auto;
  max-width: 900px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* MAKE RESPONSIVE */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.column {
  width: 25em;
}

/*THIS IS THE END OF THE CODE FOR THE FORM LAYOUT*/

/*THIS IS THE CODE FOR THE FOOTER LAYOUT*/

footer {
  position: relative;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: ##24252a;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* FOOTER LEFT SIDE */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font-size: 4rem;
  margin: 0;
}

/* COMPANY LOGO FOOTER */

.footer-distributed .footer-left img {
  width: 30%;
}

.footer-distributed h3 span {
  color: #4a90e2;
}

/* FOOTER LINKS */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #4a90e2;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* FOOTER MIDDLE */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: ##24252a;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #4a90e2;
  text-decoration: none;
}

/* FOOTER RIGHT SIDE */

.gMaps {
  margin-right: 20px;
}

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 90px;

  font-size: 40px;
  color: #4a90e2;
  text-align: center;
  line-height: 5px;

  margin-right: 3px;
  margin-bottom: 0px;
}

/* MAKE FOOTER RESPONSIVE */

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/* STYLE THE ICONS */
.footer-icons a {
  padding: 15px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}

.footer-icons:hover {
  opacity: 0.7;
}

/*THIS IS THE END OF THE CODE FOR THE FOOTER LAYOUT*/

/*RANDOM STUFF*/

.phoneFooter {
  color: white;
}

.aboutUsWhite {
  font-size: 45px;
}
