@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mulish&display=swap');
/*THIS IS THE CODE FOR THE GENERIC LAYOUT*/

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  background-color: #24252A;
  align-items: center;
  font-family: 'Merriweather', serif;
  font-family: 'Mulish', sans-serif;

}

.changeText{
  color: #0088A9;
}


/*THIS IS THE END OF THE CODE FOR THE GENERIC LAYOUT*/


/*THIS IS THE CODE FOR THE SLIDESHOW*/


.slideShow{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slideShowPictures{
  position: absolute;
  width: inherit;
  height: inherit;
  animation: cycleImages 21s infinite;
  opacity: 0;
}


.slideShowPictures img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoomIn 21s infinite;
}

.slideShowPictures:nth-last-child(1), 
.slideShowPictures:nth-last-child(1) img{
  animation-delay: 0s;
}

.slideShowPictures:nth-last-child(2), 
.slideShowPictures:nth-last-child(2) img{
  animation-delay: 10s;
}

.slideShowText{
  max-width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color:#fff;
  padding: 10rem 5rem;
}

.slideShowText h5{
  font-size: 5rem;
  text-transform: capitalize;
  letter-spacing: 3px;
  margin-bottom: 2.5rem;
}

.slideShowText p{
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 300;
}







@keyframes cycleImages{
  25%{
      opacity: 1;
  }
  40%{
      opacity: 0;
  }
}


@keyframes zoomIn{
  100%{
      transform: scale(1.5);
  }
}

@media screen and (max-width: 1000px) {
  .slideShowText{
      max-width: 70%;
      padding: 5rem 1rem;
  }

  .slideShowText h5{
      font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .slideShowText{
      max-width: 100%;
      padding: 2rem;
      top: initial;
      transform: initial;
      bottom: 0;
  }

  .slideShowText h5{
      font-size: 3rem;
  }

  
  .slideShowText p{
      font-size: 1.4rem;
  }
}

/*THIS IS THE END OF THE SLIDESHOW CODE*/





/*THIS IS THE CODE FOR THE FLIP CARDS LAYOUT*/

.services{
	width:100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
  vertical-align: top;
}
.s-heading{
	text-align:center;
}
.s-heading h1{
	color:white;
	font-size: 5rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0px;
}
.s-heading p{
	color: white;
	font-size: 3rem;
	margin: 5px;
	text-align: center;
}
.s-box-container{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.s-box{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width:300px;
	padding: 8px 25px;
	height: 500px;
	box-sizing: border-box;
	margin: 30px;
	position: relative;
}
.s-box img{
	height: 200px;
  width: 100%;
}
.s-box h1{
	color:white;
	letter-spacing: 1px;
	font-size: 3rem;
	margin-bottom: 8px;
	
}
.s-box p{
	color: white;
	text-align: center;
  font-size: 1.8rem;
}
.s-btn{
	width: 140px;
	height: 40px;
	border-radius: 20px;
	border:1px solid rgba(74,144,226,0.50);
	display: flex;
	justify-content: center;
	align-items: center;
	color:#white;
	margin-top:10px; 
}
.bar{
	width: 100px;
	height: 6px;
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	background-color:#4a90e2; 
	border-radius: 0px 0px 10px 10px;
	display: none;
	animation: bar 0.5s;
}
.s-box:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.08);
	transition: all ease 0.3s;
}
.s-btn:hover{
	background-color:#4a90e2;
	border: 1px solid #4a90e2;
	color:#FFFFFF;
	transition: all ease 0.3s;
}
.s-box:hover .bar{
	display: block;
}
@keyframes bar{
	0%{
		width:0px;
	}
	100%{
		width:100px;
	}
}
@media(max-width:1050px){
	.s-box-container{
		flex-wrap: wrap;
		
	}	
	.services{
		height: auto;
	}
	.s-heading{
		margin: 15px;
	}
	.s-box{
		flex-grow: 1;
	}
	
}




/*THIS IS THE END OF THE CODE FOR THE FLIP CARD LAYOUT*/


/*THIS IS THE ABOUT SECTION*/

.aboutUs{
  font-size: 50px;
  padding-top: 5px;
  align-content: center;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  color:white;
	letter-spacing: 1px;
	font-size: 3rem;
	margin-bottom: 8px;
}

.aboutUsCars, img{
  width: 100%;
}

/*THIS IS THE END OF THE ABOUT SECTION*/





/*THIS IS THE CODE FOR THE NAVBAR AND BUTTON LAYOUT*/


li, a, button{

  font-family: "Merriweather", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ECF0F1;
  text-decoration: none;
  
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
}


  .logo{
    width: 400px;
    cursor: pointer;
    padding: 40px;
  }

  
  .navlinks{
    list-style: none;
  }

  .navlinks li {
  
    display: inline-block;
    padding: 0px 20px;
  }

  .navlinks li a {

    transition: all 0.3s ease 0s;

  }

  .navlinks li a:hover {

    color: #0088A9;

  }

  button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  button.hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  .sizer{

    padding: auto;
    max-height: 200px;


  }



  nav{
    flex: 1;
    padding-right: 40px;
  }

  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 15px;
  }

  nav ul li a{
    text-decoration: none;
    color: #ECF0F1;
  }

  .content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #ECF0F1;
  }

  .content p{
    font-size: 20px;
   color: #ECF0F1;
  }

  .content{
    margin-left: 10%;
    margin-top: -10%;
    
  }

  .content .btn{
    display: inline-block;
    background: linear-gradient(45deg,#ECF0F1, grey);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ECF0F1;
    box-shadow: 3px 8 px 88 px rgba(94,28,68,0.15);
  }





  h1{
    color: #ECF0F1;
    text-align: center;
    padding: 10px;
  }

  h2{
    color: #ECF0F1;
    text-align: center;
    padding: 10px;
    font-size: 20px;
  }

  h5{
    color: #ECF0F1;
  }

  p{
    color: #ECF0F1;
  }
  

  ul{

    color: #ECF0F1;
  }




  .textWrapper{
    width: 100%;
    position: relative;
    
  }

  .textWrapper h1{
    text-align: center;
    color: #ECF0F1;
    font-size: 10vw;
    
  }






/*THIS IS THE END OF THE CODE FOR THE NAVBAR AND BUTTON LAYOUT*/


/*THIS IS THE CODE FOR THE FOOTER LAYOUT*/

footer{
	position: relative;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: ##24252A;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
  font-size: 4rem;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #4a90e2;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #4a90e2;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  ##24252A;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #4a90e2;
	text-decoration: none;;
}


/* Footer Right */

.gMaps{
  margin-right: 20px;
}

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: inline-block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 20px;

	font-size: 20px;
	color: #4a90e2;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}


/* Style all font awesome icons */
.footer-icons {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.footer-icons:hover {
  opacity: 0.7;
}

 
/*THIS IS THE END OF THE CODE FOR THE FOOTER LAYOUT*/




/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: white;
  font-size: 20px;
}

/* Style the submit button */
input[type=submit] {
  background-color: rgba(0, 136, 169, 1);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #24252A;
  padding: 20px;
  flex-direction:column;
  justify-content:center;
  text-align:center;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


.column{
  width: 25em;
}





/*RANDOM STUFF*/




.formSection{
  align-items: center;
  display: list-item;
  box-sizing: border-box;
}
